In [ ]:
import pandas as pd
from pandas import read_csv
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
import numpy as np

# numerical csv_sheet

In [ ]:
df=pd.read_csv(r"C:\\Users\\Admin\\Desktop\\Django_project\\KS_pro\\a.csv")
df.head(101)

# Original sheet csv_sheet

In [3]:
data=pd.read_csv(r"C:\\Users\\Admin\\Desktop\\Django_project\\KS_pro\\finalsheet1.csv")
data.head(101)

,Customer_ID,Age_From,Gender_From,Marital_Status_from,Age_To,Gender_To,Marital_Status_to,Occasion,Relation_to_from,Budget,Product_Name,Product Cost,Pro_Category,Min_budget,Max_budget
0,G0001,30,F,Married,45,M,Married,Birthday,Uncle,1500,Mens wear shirt,1255,Fashion,1125,1875
1,G0002,33,M,Married,32,F,Married,Annivesarysaryary,Wife,5000,Gold plated Ring,4800,Decoration,4500,5500
2,G0003,21,M,Unmarried,32,F,Married,Birthday,Aunt,400,Wall Clock,375,Decoration,340,460
3,G0004,12,F,Unmarried,12,F,Unmarried,Birthday,Friend,200,Pen Box,205,Stationery,150,250
4,G0005,21,F,Unmarried,23,M,Married,Diwali,Brother,600,Boat Ear Phone,680,Electronics,510,690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,G0097,37,M,Unmarried,42,F,Married,Halloween,Friend,450,Coffee Mug and Key Ring Gift,580,Othe,315,585
97,G0098,23,F,Married,62,M,Unmarried,Retairment,Uncle,250,Pen and Diary Set,210,Stationery,200,300
98,G0099,33,F,Unmarried,79,F,Married,Mothe day,Mother,800,Saree,950,Fashion,560,1060
99,G0100,40,M,Married,43,M,Married,Christmas,Colleague,500,Haldiram's Tokni 500gm,500,Food,475,525
100,G0101,20,M,Unmarried,65,F,Married,Teache day,Teacher,400,Pen and Diary Set,480,Stationery,260,540

In [4]:
#split into training and test data
X=df[['Age_From','Gender_from','Marital_Status_from','Age_To','Gender_To','Marital_Status_to','Occasion',
      'Relation_to_from','Budget']]
y=df['Product_Name']

In [5]:
X_train,X_test,Y_train,Y_test= train_test_split(X,y,test_size=0.20,random_state=1)

In [6]:
#Now we'll fit the model on the training data
model=SVC(gamma='auto')
model.fit(X_train,Y_train)

SVC(gamma='auto')

In [7]:
#make prediction on validation dataset
predictions=model.predict(X_train)
print(predictions)

['Wallet, Perfume Gift Set' 'FORMal Shirt And Pent Combo' 'Pen Combo Set'
 'Formal Shirt' 'Gold Ring' 'Couple Watch Set' 'Wallet Brown' 'Wall Clock'
 'Gold Ring' 'Aluminium Lord Ganesh Idol' 'Deodrant spray'
 'Wallet and Keychain Combo' 'Pen and Diary Set' 'Laptop' 'Diary'
 'Mobile Phone' 'Saree' 'Perfume' 'Lord Ganesha Statue' 'Kashmiri Shawl'
 'Crystal Kaaba Minar Idol Statue' 'Shirt Mens wear' 'Mi Smart Band '
 'Pen' 'LG 19 inch HD Ready Monitor' 'Chanderi Sari' 'Diary And Pen Set'
 'Linden Wood Acoustic Guitar' 'Watch and Wallet Combo Set'
 'Moon Lamp Light for Bedroom' 'Photo Frame' "Haldiram's Tokni 500gm"
 'Decorative Metal Wall Hanging' 'Lord Laxmi Statue'
 'Fastrck Watch for Men' 'Boat Ear Phone' 'T-Shirt Woemns wear' 'Laptop'
 'Mobile Phone' 'Dream Catche' 'Womens Clutch, Watch With Perfume'
 'Pen Box' 'Coffee Mug and Key Ring Gift' 'Brass Pen Stand'
 'Pen Stand with Pen Combo' 'Teddy Bear' 'Buddha Sclupture'
 'Photo Collarge Frame' 'Mens wear shirt' 'Titan Watch for Men' 'Wallet'
 'Ganesh Idol Showpiece' 'Sony Wireless Headphone' 'Diary And Pen Set'
 'Dark Chocolate' 'Pen and Diary Set' 'Kurta Set'
 'Recycled Combo Set With 5 Seed Pen And 5 seed pencil in one Box'
 'Three Golden Running Hoes Showpiece' 'Gold Bracelet'
 'Diamond Couple Ring' 'Halloween Ceramic Coffee Mug'
 'Think and grow rich Book' 'Kurta Plazo Set' 'Mobile Phone' 'Gold Locket'
 'Sonata Watch For Women' 'Ball Pen' 'Echo Dot , Alexa'
 'Ludo And Chess Game Set' 'Gold plated Ring' 'Cup' 'Video Game'
 'Photo Frame' 'Makeup kit' 'Pillow, Coffee Cup, Key chain Gift Set'
 'Silk Chocolate' 'Mobile Phone' 'Doll Toy Set' 'Baby Lauddha idol Statue']

In [8]:
#Evaluate prediction 
print("accuracy_score",(Y_test,predictions))

accuracy_score (94     Soft Toy Combo of 4 Pand Pikachu Octopus And U...
78       Jbl Flip 3 Stealth Waterproof Bluetooth Speaker
17                                                 Dress
100                                    Pen and Diary Set
36                                     Analog Wall Clock
85                           Coffee Mug and Trophy Combo
55                            Water Fountain Idol Statue
83                                      Heheys Chocolate
82                             Artificial Christmas Tree
52                                     Kurta Womens Wear
95                   Solimo Ceramic Dinner Set 33 Pieces
44                                            Dinner Set
31                               Metal Bangles For Women
93                         EID Mubarak Decoration Stand
65                               All new Echo Dot, Alexa
35                             IRIS Frangrance Gift Pack
66                                Saregama Carvaan Hindi
70                  Led Crystal Chandelier Ceiling Light
81                     Balkan Vampire Blood Cross Statue
80                                  Sonata Watch for Men
33                                            Silk Saree
Name: Product_Name, dtype: object, array(['Wallet, Perfume Gift Set', 'FORMal Shirt And Pent Combo',
       'Pen Combo Set', 'Formal Shirt', 'Gold Ring', 'Couple Watch Set',
       'Wallet Brown', 'Wall Clock', 'Gold Ring',
       'Aluminium Lord Ganesh Idol', 'Deodrant spray',
       'Wallet and Keychain Combo', 'Pen and Diary Set', 'Laptop',
       'Diary', 'Mobile Phone', 'Saree', 'Perfume', 'Lord Ganesha Statue',
       'Kashmiri Shawl', 'Crystal Kaaba Minar Idol Statue',
       'Shirt Mens wear', 'Mi Smart Band ', 'Pen',
       'LG 19 inch HD Ready Monitor', 'Chanderi Sari',
       'Diary And Pen Set', 'Linden Wood Acoustic Guitar',
       'Watch and Wallet Combo Set', 'Moon Lamp Light for Bedroom',
       'Photo Frame', "Haldiram's Tokni 500gm",
       'Decorative Metal Wall Hanging', 'Lord Laxmi Statue',
       'Fastrck Watch for Men', 'Boat Ear Phone', 'T-Shirt Woemns wear',
       'Laptop', 'Mobile Phone', 'Dream Catche',
       'Womens Clutch, Watch With Perfume', 'Pen Box',
       'Coffee Mug and Key Ring Gift', 'Brass Pen Stand',
       'Pen Stand with Pen Combo', 'Teddy Bear', 'Buddha Sclupture',
       'Photo Collarge Frame', 'Mens wear shirt', 'Titan Watch for Men',
       'Wallet', 'Ganesh Idol Showpiece', 'Sony Wireless Headphone',
       'Diary And Pen Set', 'Dark Chocolate', 'Pen and Diary Set',
       'Kurta Set',
       'Recycled Combo Set With 5 Seed Pen And 5 seed pencil in one Box',
       'Three Golden Running Hoes Showpiece', 'Gold Bracelet',
       'Diamond Couple Ring', 'Halloween Ceramic Coffee Mug',
       'Think and grow rich Book', 'Kurta Plazo Set', 'Mobile Phone',
       'Gold Locket', 'Sonata Watch For Women', 'Ball Pen',
       'Echo Dot , Alexa', 'Ludo And Chess Game Set', 'Gold plated Ring',
       'Cup', 'Video Game', 'Photo Frame', 'Makeup kit',
       'Pillow, Coffee Cup, Key chain Gift Set', 'Silk Chocolate',
       'Mobile Phone', 'Doll Toy Set', 'Baby Lauddha idol Statue'],
      dtype=object))

In [9]:
#Pickle model
pd.to_pickle(model,r"C:\\Users\\Admin\\Desktop\\Django_project\\excel_file\\new1_model.pickle")

In [10]:
#unpickle model
model=pd.read_pickle(r"C:\\Users\\Admin\\Desktop\\Django_project\\excel_file\\new1_model.pickle")

In [ ]:
#input from user
Age_From             =int(input("Enter age_from :"))
Gender_from          =str(input("Enter gender_from :"))
Marital_Status_from  =str(input("Enter marital_status_from :"))
Age_To               =int(input("Enter age_to :"))
Gender_To            =str(input("Enter gender_to :"))
Marital_Status_to    =str(input("Enter marital_status_to :"))
Occasion             =str(input("Enter occasion :"))
Relation_to_from     =str(input("Enter relation :"))
Budget               =int(input("Enter budget :"))

In [14]:
#gender from
Gf = ['F','M']
Gf_n = [0,1]

if (Gf[0] == Gender_from):
  x1=Gf_n[0]
else:
  x1=Gf_n[1]
#print(x1)

#gender to
Gt = ['F','M']
Gt_n = [0,1]

if (Gt[0] == Gender_To):
  x2=Gt_n[0]
else:
  x2=Gt_n[1]
#print(x2)

#Marital_Status_from
MSF = ['M','UM']
MSF_n = [1,0]

if (MSF[0] == Marital_Status_from):
  y1=MSF_n[0]
else:
  y1=MSF_n[1]
#print(y1)

#Marital_Status_to
MST = ['M','UM']
MST_n = [1,0]

if (MST[0] == Marital_Status_to):
  y2=MST_n[0]
else:
  y2=MST_n[1]
#print(y2)

#Ocassion
OC = ['Anniversary','Birthday','Christmas','Daughters day','Diwali','Easter','Eid','Fathers day','Graduation',
'Grand fathers day','Halloween'',Holi','Mothers day','New Year','Rakshabandhan','Retairment','Teachers day','V-day','Wedding']
OC_n = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]

if (OC[0] ==Occasion):
  z1=OC_n[0]

elif (OC[1] ==Occasion):
  z1=OC_n[1]

elif (OC[2] ==Occasion):
  z1=OC_n[2]

elif (OC[3] ==Occasion):
  z1=OC_n[3]

elif (OC[4] ==Occasion):
  z1=OC_n[4]

elif (OC[5] ==Occasion):
  z1=OC_n[5]

elif (OC[6] ==Occasion):
  z1=OC_n[6]

elif (OC[7] ==Occasion):
  z1=OC_n[7]

elif (OC[8] ==Occasion):
  z1=OC_n[8]

elif (OC[9] ==Occasion):
  z1=OC_n[9]

elif (OC[10] ==Occasion):
  z1=OC_n[10]

elif (OC[11] ==Occasion):
  z1=OC_n[11]

elif (OC[12] ==Occasion):
  z1=OC_n[12]

elif (OC[13] ==Occasion):
  z1=OC_n[13]

elif (OC[14] ==Occasion):
  z1=OC_n[14]

elif (OC[15] ==Occasion):
  z1=OC_n[15]

elif (OC[16] ==Occasion):
  z1=OC_n[16]

elif (OC[17] ==Occasion):
  z1=OC_n[17]

elif (OC[18] ==Occasion):
  z1=OC_n[18]

#print(z1)

#relation


RL = ['Aunt','Boy Friend','Brother in law','Colleague','Cousin','Daughter','Father','Friend','Girl Friend','Grand Daughter','Grand father','Grand mother','Husband'
,'Mother','Mother in law','Neighbour','Nephew','Niece','Sister','Sister in law','Son','Student','Teacher','Uncle','Wife','Brother']
RL_n = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]


if (RL[0] ==Relation_to_from):
  z2=RL_n[0]

elif (RL[1] ==Relation_to_from):
  z2=RL_n[1]

elif (RL[2] ==Relation_to_from):
  z2=RL_n[2]

elif (RL[3] ==Relation_to_from):
  z2=RL_n[3]

elif (RL[4] ==Relation_to_from):
  z2=RL_n[4]

elif (RL[5] ==Relation_to_from):
  z2=RL_n[5]

elif (RL[6] ==Relation_to_from):
  z2=RL_n[6]

elif (RL[7] ==Relation_to_from):
  z2=RL_n[7]

elif (RL[8] ==Relation_to_from):
  z2=RL_n[8]

elif (RL[9] ==Relation_to_from):
  z2=RL_n[9]

elif (RL[10] ==Relation_to_from):
  z2=RL_n[10]

elif (RL[11] ==Relation_to_from):
  z2=RL_n[11]

elif (RL[12] ==Relation_to_from):
  z2=RL_n[12]

elif (RL[13] ==Relation_to_from):
  z2=RL_n[13]

elif (RL[14] ==Relation_to_from):
  z2=RL_n[14]

elif (RL[15] ==Relation_to_from):
  z2=RL_n[15]

elif (RL[16] ==Relation_to_from):
  z2=RL_n[16]

elif (RL[17] ==Relation_to_from):
  z2=RL_n[17]

elif (RL[18] ==Relation_to_from):
  z2=RL_n[18]

elif (RL[19] ==Relation_to_from):
  z2=RL_n[19]

elif (RL[20] ==Relation_to_from):
  z2=RL_n[20]

elif (RL[21] ==Relation_to_from):
  z2=RL_n[21]

elif (RL[22] ==Relation_to_from):
  z2=RL_n[22]

elif (RL[23] ==Relation_to_from):
  z2=RL_n[23]

elif (RL[24] ==Relation_to_from):
  z2=RL_n[24]

elif (RL[25] ==Relation_to_from):
  z2=RL_n[25]

#print(z2)

# Result

In [15]:
#result
result = model.predict([[Age_From,x1,y1,Age_To,x2,y2,z1,z2,Budget]])  
print(result)

['Mobile Phone']

In [ ]:
x=input()